.edit-container {
    display: flex;
    justify-content: space-between;
}
.listing-picture-preview {
    margin-left: 20px;
}

.delete-button {
    background-color: #ff4d4d;
    color: white;         
    border: none;           
    padding: 10px 20px;   
    font-size: 16px;         
    border-radius: 5px;      
    cursor: pointer;   
    transition: background-color 0.3s ease; 
}

.delete-button:hover {
    background-color: #cc0000; 
}


.delete-button:active {
    background-color: #a30000; 
    transform: scale(0.98);
}