{% extends "base.html" %}
{% block content %}
<h1>Post Study Session Listing</h1>
<form>
    <label>Location: <input type="text" placeholder="Ex. HSEC"></label><br>
    <label>Class/Class Code: <input type="text" placeholder="Ex. CSCI 4131"></label><br>
    <label>Subject: <input type="text" placeholder="Ex. Exam #2"></label><br>
    <label>Time: <input type="text" placeholder="Ex. 6pm - 9pm"></label><br>
    <label>Number of Students: <input type="text" placeholder="Ex. 3 students"></label><br>
    <label>Other/Desc: <textarea placeholder="Ex. Bring your textbook."></textarea></label><br>
    <label>Attach Picture: <input type="file"></label><br>
</form>
{% endblock %}
