{% extends "base.html" %}
{% block content %}
<h1>Post Study Session Listing</h1>
<form action="{{ url_for('post_study_sessions') }}" method="POST" enctype="multipart/form-data" class="pure-form pure-form-aligned">
    <fieldset>
        <div class="pure-control-group">
            <label for="location">Location:</label>
            <input id="location" name="location" type="text" placeholder="Ex. HSEC" required>
        </div>

        <div class="pure-control-group">
            <label for="class-code">Class/Class Code:</label>
            <input id="class-code" name="class-code" type="text" placeholder="Ex. CSCI 4131">
        </div>

        <div class="pure-control-group">
            <label for="subject">Subject:</label>
            <input id="subject" name="subject" type="text" placeholder="Ex. Exam #2" required>
        </div>

        <div class="pure-control-group">
            <label for="time">Time:</label>
            <input id="time" name="time" type="text" placeholder="Ex. 6pm - 9pm" required>
        </div>

        <div class="pure-control-group">
            <label for="num-students">Number of Students:</label>
            <input id="num-students" name="num-students" type="text" placeholder="Ex. 3 students" required>
        </div>

        <div class="pure-control-group">
            <label for="description">Other/Desc:</label>
            <textarea id="description" name="description" placeholder="Ex. Bring your textbook."></textarea>
        </div>

        <div class="pure-control-group">
            <label for="listing-picture">Attach Picture:</label>
            <input id="listing-picture" name="listing_picture" type="file">
        </div>

        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-update">Submit</button>
        </div>
    </fieldset>
</form>

{% endblock %}