{% extends "base.html" %}
{% block content %}
<h1>Profile</h1>
<div class="profile-container pure-g">
    <div class="pure-u-1 profile-picture-container">
        <img src="{{ url_for('static', filename='pfp.jpg') }}" alt="Profile Picture" class="pure-img profile-picture">
    </div>
    <div class="pure-u-1 profile-form-container">
        <form class="pure-form pure-form-stacked">
            <fieldset>
                <div class="pure-control-group">
                    <label for="name">Name:</label>
                    <input id="name" type="text" value="{{ user['name'] }}">
                </div>

                <div class="pure-control-group">
                    <label for="email">Email:</label>
                    <input id="email" type="text" value="{{ user['email'] }}">
                </div>

                <div class="pure-control-group">
                    <label for="school">School:</label>
                    <input id="school" type="text" value="Univ of MN">
                </div>

                <div class="pure-control-group">
                    <label for="major">Major:</label>
                    <input id="major" type="text" value="Computer Science">
                </div>

                <div class="pure-control-group">
                    <label for="bio">Bio:</label>
                    <textarea id="bio">I like cats and studying at Walter!</textarea>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<!-- Display User Listings -->
<div class="extra-info pure-u-1">
    <h2>My Listings</h2>
    <table class="pure-table pure-table-horizontal">
        <thead>
            <tr>
                <th>Location</th>
                <th>Course</th>
                <th>Event</th>
                <th>Time</th>
                <th>Students</th>
            </tr>
        </thead>
        <tbody>
            {% for listing in listings %}
            <tr>
                <td>{{ listing.location }}</td>
                <td>{{ listing.class_code }}</td>
                <td>{{ listing.subject }}</td>
                <td>{{ listing.time }}</td>
                <td>{{ listing.num_students }}</td>
            </tr>
            {% else %}
            <tr>
                <td colspan="5">No listings found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
